<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<div th:replace="~{fragments/header :: header}"></div>

<div class="main">
    <div class="card">
        <img th:src="${photo}" alt="Foto" class="profile-img">
        <h2 class="name" th:text="${name}">Paulo Costa</h2>
        <p class="email" th:text="${email}">email@exemplo.com</p>
        <a th:href="@{/logout}" class="logout-btn">Sair</a>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>